* {
    padding: 0;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}

#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu-Left {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #565e6c;
}

.logo {
    margin: 0 30px;
    display: flex;
    width: 100px;
    height: 30px;
}

.menu {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: flex-start;
}

.menu-Home {
    /* padding-bottom: 10px; */
    color: #00bdd6;
    border-bottom: solid 4px #00bdd6;
}

.menu_Right {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.menu_Right_Input input {
    border: none;
    width: 330px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

#content {
    display: flex;
    width: 1200px;
    margin-top: 50px;
    flex-direction: column;
}

#content .row2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}

#content .row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row3-Left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row3-Left img {
    padding-top: 2px;
    width: 90px;
    height: 20px;
}

.row3-Right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row3-Right img {
    height: 16px;
    width: 16px;
}

.row4 {
    display: flex;
    justify-content: space-between;
}

.row4-Left {
    width: 50%;
}

.row4-Right {
    width: 50%;
    display: flex;
    justify-content: end;
}

.row4-Right-img {
    display: flex;
    flex-wrap: wrap;
}

.row4-Right-img img {
    margin-left: 16px;
    margin-top: 6px;
}