* {
    padding: 0;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu-Left {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #565e6c;
}

.logo {
    margin: 0 30px;
    display: flex;
    width: 100px;
    height: 30px;
}

.menu {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: flex-start;
}

.menu-Home {
    /* padding-bottom: 10px; */
    color: #00bdd6;
    border-bottom: solid 4px #00bdd6;
}

.menu_Right {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.menu_Right_Input input {
    border: none;
    width: 330px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}